h1 {
	text-align: center;
}

.button {
	padding: 10px;
}

.info {
	font-size: 20px;
	text-align: center;
}

#titles {
	font-size: 30px;
	font-weight: bold;
}

#contacts {
	margin: auto;
	width: 60%;
	border-color: black;
	border-style: solid;
	border-width: 3px; 
	border-radius: 25px;
}

table, th, td {
	border-style: solid;
	border-width: 3px; 
	border-radius: 25px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 2px;
	padding-left: 10px;
}