@charset "UTF-8";

.homepage-title {
	color: #0094FF;
	text-align: center;
	background-color: transparent;
}

.buttons .btn {
	padding: 20px 20px;
	font-size: 50px;	
 	margin-bottom: 50px;
 	margin-top: 150px;
}
