@charset "UTF-8";

div.page-content-border
{
	padding: 20px 20px;
	background-color: #ffffff;
	border-radius: 10px;
	
}

div.page-content
{
    text-align:center;
	padding: 20px 20px;
	background-color: #ffffff;
	//border-radius: 7px;
	box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 40px 0 rgba(0, 0, 0, 0.19);
}

.btn {
	height: 200px;
	width: 400px;
	margin: 30px;
	font-size: 40px;
}