<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">	
	<link rel="icon" href="X.ico">

	<title>Singin Page</title>
	aimX Indoor Monitoring and Automation

	<!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
</head>
<script src="node_modules/angular/angular.min.js"></script>
<script src="WebContent/SIGN_IN_FORM_CTRL.js"></script>
<script src="node_modules/angular-password/angular-password.min.js"></script>

<body ng-app="aimXApp">

	<div ng-controller="SIGN_IN_FORM_CTRL">
		<p>{{ result }}</p>

<form name="signInForm">
		First Name: <input type="text" ng-model="firstName"> Last
		name: <input type="text" ng-model="lastName"> Email: <input
		type="email" name="emailAddress"
		ng-model ="text" Required> <span
			ng-show="signInForm.emailAddress.$error.email">Not a valid
			e-mail address</span>

		</form>

	</div>

	<script>
		var app=angular.module('aimXApp', ["ngPassword"]);
		app.controller('SIGN_IN_FORM_CTRL', function($scope, $filter) {

			$scope.result = $filter('date')(new Date(), 'fullDate');
		});
	</script>

</body>
</html>

