@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navigation li {
    float: left;
}

ul.navigation li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navigation li a:hover {
    background-color: #111;
}

div.colorBar {
    background-color: #0094FF;
	height: 5px;
}

a.navbar-brand:link {color: white;}    /* unvisited link */
a.navbar-brand:visited {color: white;}    /* visited link */