@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

.btn{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-content {
	border-style: solid;
	border-width: 9px;
	border-color: #222222;
	border-radius: 10px;
	background-color: #ffffff;
	padding: 5px 5px;
	box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 40px 0 rgba(0, 0, 0, 0.19);
}
footer
{
	text-align:center;
	margin-top: 20px;
	padding: 10px;
	color: #999999;
}
html, body{
height: 100%;
}

a.navbar-brand:link {color: white;}    /* unvisited link */
a.navbar-brand:visited {color: white;}    /* visited link */

a.areaName {
    color: black;
    text-decoration: none;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.devicePanel 
{
	overflow: auto;
	max-height: 500px;
}