<!DOCTYPE html>
<html>
<head>
    <title>Account</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrapCSS" rel="stylesheet">
    <link href="/bootstrapCSSIE10" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="/bootstrapJS"></script>
    <script src="/bootstrapJSIE10"></script>

    <!-- stylesheets (last so they take priority) -->
    <link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body ng-controller="Account.IndexController as account">
	<nav ng-controller="Nav.IndexController as loginInfo" class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				
				<a class="navbar-brand" style="color:#ffffff" >aimX</a>
				<button aria-expanded="false" role="navigation" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse"  id="myNavbar">
				<ul role="navigation" class="nav navbar-nav">
					<li><a href="../home">Home</a></li>
					<li><a href="../floorPlan">Floor Plan</a></li>
					<li><a href="../devices">Devices</a></li>
					<li><a href="../quickControls">Quick Controls</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="../account"><span class="glyphicon glyphicon-user"></span> Welcome {{loginInfo.user.firstName}}</a></li>
					<li><a href="/login"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container">
		<h2>My Account</h2>
	</div>
	<div  class="container page-content">
		<label>ownerID: </label> {{account.user._id}}
		<div class="flash-message" ng-if="flash">
            <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
        </div>
	     <form role="form" aria-label="Contact Form" id="contact-form" name="contactForm" method="post" action="">
	       <div class="form-group">
	         <label for="firstName">First Name *</label>
	         <input type="text" aria-required="true" id="firstName" aria-describedby="firstName-tip" class="form-control" ng-model="account.user.firstName"/>
				<div role="tooltip" id="firstName-tip">i.e. John, Jane</div>
			</div>
			<div class="form-group">
				<label for="lastName">Last name</label>
				<input type="text" aria-required="true" id="lastName" aria-describedby="lastName-tip" class="form-control" ng-model="account.user.lastName"/>
				<div role="tooltip" id="lastName-tip">i.e. Doe</div>
			</div>
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" aria-required="true" id="username" aria-describedby="userName-tip" class="form-control" ng-model="account.user.username"/>
				<div role="tooltip" id="userName-tip">The username you used to create your account</div>
			</div>

			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" id="password" aria-describedby="password-tip" class="form-control" ng-model="account.user.password" />
				<div role="tooltip" id="password-tip">The password you used to create your account</div>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" ng-click="account.saveUser()">Update</button>
				<button class="btn btn-danger" ng-click="account.deleteUser()">Delete Account</button>
			</div>
		</form>
	</div>
	
	<footer class="footer">
		<p>Team Cisco 2016 ASU Senior Capstone Project</p>
	</footer>
	
	<!-- external scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

    <!-- application scripts -->
    <script src="../app.js"></script>
    <script src="../app-services/user.service.js"></script>
    <script src="../app-services/flash.service.js"></script>
    <script src="index.controller.js"></script>
	<script src="account.controller.js"></script>
</body>